.board {
  padding: 15px 0 0;
  position: relative;
  text-align: left;
  .toolbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    margin: -15px 0 0;
    padding: 10px;
    text-align: right;
    vertical-align: top;
    .logo {
      float: left;
      font-size: 18px;
      font-weight: bold;
    }
    input,
    .button {
      font-size: 12px;
      margin-left: 5px;
      padding: 3px 10px;
    }
  }
  .controls {
    margin: 0 10px 10px;
    .button {
      margin-left: 5px;
    }
    .credit {
      color: #d8d8d8;
      float: right;
      font-size: 12px;
      text-decoration: none;
      svg {
        fill: #d8d8d8;
        margin-left: 3px;
      }
      &:hover {
        color: #333;
        svg {
          fill: #333;
        }
      }
    }
    .status {
      background-color: #ffefc6;
      border: 1px solid #ffefc6;
      border-radius: 3px;
      color: #4c4a42;
      float: right;
      font-size: 12px;
      line-height: 20px;
      padding: 3px 10px;
    }
  }
  .columns {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
