$column-width: 244px;

.column {
  background: #f6f6f6;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06);
  display: inline-block;
  height: 100%;
  margin-left: 10px;
  vertical-align: top;
  white-space: initial;
  width: $column-width;
  &:last-child {
    margin-right: 10px;
  }
  .col-placeholder {
    background: #dedede;
    display: none;
    height: 100%;
    position: fixed;
    width: $column-width;
    z-index: 2;
  }
  .header {
    border-bottom: 1px solid #d8d8d8;
    font-weight: bold;
    padding: 6px 8px;
    .count {
      color: #767676;
      font-size: 12px;
      font-weight: normal;
      margin-left: 3px;
    }
    .popup-controller {
      cursor: pointer;
      float: right;
    }
  }
  .container {
    overflow-y: scroll;
    .body {
      overflow-y: scroll;
      padding: 5px 0 0 0;
    }
    .placeholder-area {
      min-height: 5px;
    }
  }
}
