.column {
  background: #f6f6f6;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06);
  display: inline-block;
  height: 100%;
  margin-right: 10px;
  vertical-align: top;
  white-space: initial;
  width: 260px;
  &:last-child {
    margin-right: 0;
  }
  .header {
    border-bottom: 1px solid #d8d8d8;
    font-weight: bold;
    padding: 6px 8px;
    .count {
      color: #767676;
      font-size: 12px;
      font-weight: normal;
      margin-left: 3px;
    }
  }
  .container {
    overflow-y: scroll;
    .body {
      min-height: 60px;
      overflow-y: scroll;
      padding: 5px 0 0 0;
    }
    .placeholder-area {
      min-height: 5px;
    }
  }
}
