.Column {
  vertical-align: top;
  width: 370px;
  display: inline-block;
  height: 700px;
  margin-right: 35px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
  transition: min-height 150ms;
  > header {
    cursor: default;;
    display: block;
    width: 100%;
    background: #dedede;
    font-weight: bold;
    text-align: center;
    padding: 28px 0;
  }

  .issueGhost {
    opacity: 0.25;
  }

  .issue-list {
    height: 620px;
    overflow-y: scroll;
  }
}
