@import 'node_modules/foundation-sites/scss/foundation';

$titleWidth: 70px;

.Header {
  background-color: #4f545b;
  height: 60px;
  padding: 13px 0 5px 0;
  .title {
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    width: $titleWidth;
  }
  .avatar {
    background: #2199e8;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    width: 36px;
  }
}
