.Issue {
  border-bottom: solid 1px #c6c6c6;
  display: block;
  background: #fff;
  cursor: move;
  margin: 0;

  .icon {
    background: #c6c6c6;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    left: 12px;
    top: 4px;
    position: relative;
    width: 20px;
  }

  .text {
    display: inline-block;
    margin: 0;
    padding: 15px 25px;
  }
}
