.loader {
  background: #FFF url(https://assets-cdn.github.com/images/spinners/octocat-spinner-64.gif) no-repeat center center;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
