.searchBar {
  display: inline-block;
  text-align: center;
  input {
    font-size: 12px;
    padding: 3px 10px;
    width: 320px;
  }

  .dropdown {
    background-color: #FFF;
    border: 1px solid rgba(200,200,200,0.4);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    display: none;
    position: fixed;
    width: 320px;
  }

  .hint {
    border: 1px solid #fff;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 0 5px;
  }

  .link {
    color: #fff;
    display: block;
  }
}
