.searchBar {
  display: inline-block;
  text-align: center;
  input {
    font-size: 12px;
    padding: 3px 10px;
    width: 320px;
  }

  .dropdown {
    background-color: grey;
    display: none;
    opacity: 0.5;
    position: fixed;
    width: 320px;
  }

  .hint {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 0 5px;
  }

  .link {
    color: #fff;
    display: block;
  }
}
