.searchBar {
  input {
    font-size: 12px;
    padding: 3px 10px;
    width: 320px;
  }

  .dropdown {
    background-color: grey;
    display: none;
    opacity: 0.5;
    width: 320px;
  }

  .hint {
    border: 1px solid #fff;
    display: inline-block;
    margin: 5px;
  }
}
